.contain{

	width: 100%;
	margin: center;

}

h1
{
	font-family: sans-serif;
	text-align: center;
	margin-bottom: 40px;
	margin:30px;
}

h2{
	
	font-family: sans-serif;
	margin: 1px 1px;
	padding:1px;
	text-align: center;
}


#wp{
	background-color: #ff6666;
}
#mis{
	background-color: #66cc66;
}
#bak{
	background-color: #6599cd;
}

.heading{
	float: right;
	width: 23%;
	border:1px solid black;
	font-size: 10px;
	text-align: center;
	border-top: 0px;


}

.content{
	font-family: sans-serif;
	width: 100%;
    margin: 12px 3px;
    border: 1px solid black;
    padding-left: 20px;
   	background-color: gray;
}

body{
	position: relative;
	top:150px;
	left: 30px;
}



/************ large devices only ****************/

@media (min-width: 992px)
{

	#wada{
		background-color: grey;
		float: left;
		width: 29.5%;

	}
	#misal{
		background-color: grey;
		float: left;
		width: 29.5%;

	}	  
	#bakar{
		background-color: grey;
		float: left;
		width: 29.5%; 

	}	  


}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) 
{
    #wada {
        background-color: gray;
        float: left;
        width: 42%;
    }

    #misal {
        background-color: gray;
        float: left;
        width: 42%;

    }

    #bakar {
        background-color: gray;
        float: left;
        width: 88%;
    }


}

/****************** Small devices only ***************/
 @media (max-width: 767px)
{
        #wada {
            
            float: left;
            width: 85%;
        }

        #misal {
            
            float: left;
            width: 85%;

        }

        #bakar {
            
            float: left;
            width: 85%;
        }
    
}